<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/user/addFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFriend</servlet-name>
    <servlet-class>servlet.DeleteFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriend</servlet-name>
    <url-pattern>/user/deleteFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>servlet.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/user/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchWithoutQuery</servlet-name>
    <servlet-class>servlet.SearchWithoutQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWithoutQuery</servlet-name>
    <url-pattern>/user/searchwithoutquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchWithoutFriendQuery</servlet-name>
    <servlet-class>servlet.SearchWithoutQueryFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWithoutFriendQuery</servlet-name>
    <url-pattern>/user/searchwithoutfriendquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendList</servlet-name>
    <servlet-class>servlet.FriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendList</servlet-name>
    <url-pattern>/user/friendlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommonFriendList</servlet-name>
    <servlet-class>servlet.CommonFriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonFriendList</servlet-name>
    <url-pattern>/user/commonfriendlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendsDateOfBirth</servlet-name>
    <servlet-class>servlet.FriendsDateOfBirthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsDateOfBirth</servlet-name>
    <url-pattern>/user/friendsdateofbirth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDateOfBirth</servlet-name>
    <servlet-class>servlet.UpdateDateOfBirthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDateOfBirth</servlet-name>
    <url-pattern>/user/updatedateofbirth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameFromID</servlet-name>
    <servlet-class>servlet.NameFromIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameFromID</servlet-name>
    <url-pattern>/user/namefromid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IDFromKeySession</servlet-name>
    <servlet-class>servlet.IDFromKeySessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDFromKeySession</servlet-name>
    <url-pattern>/user/idfromkeysession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLikeComment</servlet-name>
    <servlet-class>servlet.AddLikeCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLikeComment</servlet-name>
    <url-pattern>/user/addlikecomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckLikeInComment</servlet-name>
    <servlet-class>servlet.CheckLikeInCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLikeInComment</servlet-name>
    <url-pattern>/user/checklikeincomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveLikeComment</servlet-name>
    <servlet-class>servlet.RemoveLikeCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveLikeComment</servlet-name>
    <url-pattern>/user/removelikecomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchMapReduceComment</servlet-name>
    <servlet-class>servlet.SearchMapReduceCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMapReduceComment</servlet-name>
    <url-pattern>/user/searchmapreducecomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckFriend</servlet-name>
    <servlet-class>servlet.CheckFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFriend</servlet-name>
    <url-pattern>/user/checkFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserList</servlet-name>
    <servlet-class>servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/user/userlist</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>WritePrivateMessageByID</servlet-name>
    <servlet-class>servlet.WritePrivateMessageByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WritePrivateMessageByID</servlet-name>
    <url-pattern>/user/writeprivatemessagebyid</url-pattern>
  </servlet-mapping>
  
  
  
      <servlet>
    <servlet-name>GetPrivateMessageByID</servlet-name>
    <servlet-class>servlet.GetPrivateMessageByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPrivateMessageByID</servlet-name>
    <url-pattern>/user/getprivatemessagebyid</url-pattern>
  </servlet-mapping>
</web-app>